@use './vars.scss' as *;

// 页面
.page {
  width: 100%;
  height: 100%;
}

// 字体颜色
@each $name, $color in $color-map {
  .color-#{$name} {
    color: $color !important;
  }
}

// 背景颜色
.bg-error {
  color: map-get($map: $color-map, $key: error) !important;
  background-color: map-get($map: $color-secondary-map, $key: error) !important;
}

.fs-s {
  font-size: $fs-s !important;
}

.fs-n {
  font-size: $fs-n !important;
}

.pd {
  padding: $gap-n !important;
}

.pd-v {
  padding: $gap-n 0 !important;
}

.pd-h {
  padding: 0 $gap-n !important;
}

.mg {
  margin: $gap-n !important;
}

.mg-v {
  margin: $gap-n 0 !important;
}

.mg-h {
  margin: 0 $gap-n !important;
}

$placement-map: (
  l: left,
  r: right,
  t: top,
  b: bottom,
);

@each $key, $val in $placement-map {
  .pd-#{$key} {
    padding-#{$val}: $gap-n;
  }
  .mg-#{$key} {
    margin-#{$val}: $gap-n;
  }
}
