// 可点击
.cp {
  cursor: pointer !important;
  user-select: none !important;

  &:hover {
    opacity: 0.8 !important;
  }

  &:active {
    opacity: 1 !important;
  }
}

// 单行文本
.line {
  white-space: nowrap;
}

// 超出显示省略号
.text-ell {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 文本居中
.text-center {
  text-align: center;
}

// 禁用
.cna {
  cursor: not-allowed !important;
}

// 抓取
.grabbing {
  cursor: grabbing !important;
}

// 居中
.flex-center-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.full {
  @extend .full-w;
  @extend .full-h;
}
