// 可点击
.cp {
  cursor: pointer !important;
  user-select: none !important;

  &:hover {
    opacity: 0.8 !important;
  }

  &:active {
    opacity: 1 !important;
  }
}

// 禁用
.cna {
  cursor: not-allowed !important;
}

// 抓取
.grabbing {
  cursor: grabbing !important;
}

// 居中
.flex-center-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
