body,
html {
  padding: 0;
  margin: 0;
}

/* 覆盖 element-plus 组件样式 */
// 修复弹框图标样式 bug
.el-message-box .el-message-box__container .el-message-box__status {
  position: absolute;
}

// 按钮样式
.el-button--small {
  padding: 7px !important;

  .el-icon {
    font-size: var(--el-font-size-extra-small);
  }
}

// 修复默认时间选择器 icon 样式问题
.el-input__suffix,
.el-input__prefix-inner,
.el-input__suffix-inner {
  align-items: center;
}

// select-v2 placeholder 字体大小
.el-select-v2--small .el-select-v2__placeholder {
  font-size: var(--el-font-size-extra-small);
}

// 表单校验失败时的样式
.el-form-item.is-error .el-select-v2__wrapper {
  border-color: var(--el-color-danger);
}

// 禁用状态下，select 的鼠标样式
.el-input.is-disabled .el-input__suffix {
  .el-icon {
    cursor: not-allowed;
  }
}
