$primary-base: #409eff;
$success-base: #67c23a;
$warning-base: #e6a23c;
$danger-base: #f56c6c;
$error-base: #f56c6c;
$info-base: #909399;

$bg-blue-10: #002766;
$bg-blue-9: #003a8c;
$bg-blue-6: #1890ff;

$color-map: (
  primary: $primary-base,
  success: $success-base,
  warning: $warning-base,
  danger: $danger-base,
  error: $error-base,
  info: $info-base
);
