$primary-base: #409eff;
$success-base: #67c23a;
$warning-base: #e6a23c;
$danger-base: #f56c6c;
$error-base: #f56c6c;
$info-base: #909399;

$bg-blue-10: #002766;
$bg-blue-9: #003a8c;
$bg-blue-6: #1890ff;

// 颜色
$color-map: (
  primary: $primary-base,
  success: $success-base,
  warning: $warning-base,
  danger: $danger-base,
  error: $error-base,
  info: $info-base
);

// 字体大小
$fs-s: 12px;
$fs-n: 14px;

// 间距大小
$gap-s: 4px;
$gap-n: 12px;
$gap-l: 20px;
